body {
    background-color: #FBFCFE;
    font-family: sans-serif, Arial, Helvetica;
    font-size: larger;
}
h1 {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    text-align: center;
}